*{
    box-sizing: border-box;
}

html{
    background-color:rgb(189, 130, 244)
}

p{
    width: 200px;
    height: 200px;
    border: 10px solid purple;
    padding: 8px;
}

h1{
    color: blue;
    background-color: bisque;
}
